/* Carte spécifique pour les articles */
.article-card {
  width: 70%; /* Carte prend 70% de la largeur de l'écran */
  margin: 0 auto; /* Centrer la carte sur la page */
  border-radius: 8px; /* Bords arrondis pour une apparence plus douce */

  .card-img-top {
    width: 100%; /* Image prend toute la largeur de la carte */
    height: 400px; /* Fixer la hauteur de l'image */
    object-fit: cover; /* L'image couvre la zone sans déformation */
    border-top-left-radius: 8px; /* Bords arrondis sur le haut de la carte */
    border-top-right-radius: 8px; /* Bords arrondis sur le haut de la carte */
  }

  /* Styling pour le contenu de la carte */
  .card-body {
    padding: 20px;
    text-align: justify; /* Justification du texte pour une meilleure lisibilité */

    .card-title {
      font-size: 2rem; /* Taille du titre */
      font-weight: bold;
    }

    .card-text {
      font-size: 1rem; /* Taille de texte standard */
      color: #6c757d; /* Couleur de texte légèrement plus grise */
    }
  }
}

/* Pour s'assurer que l'image ne prend pas trop de hauteur */
.article-card-img {
  max-height: 400px; /* Limite la hauteur maximale de l'image */
  object-fit: cover; /* Couvre toute la zone sans déformer l'image */
  width: 100%; /* Image prend toute la largeur de la carte */
}

/* Responsiveness: pour les petits écrans */
@media (max-width: 768px) {
  .article-card {
    width: 100%; /* La carte prend 100% de la largeur sur petits écrans */
  }
}


/* Carte d'administration avec fond gris foncé */
.card.admin-article-card {
  background-color: #343a40; /* Gris foncé */
  color: rgb(21, 19, 19);
}

/* Bouton Modifier en bleu */
.btn-primary {
  background-color: #007bff; /* Bleu clair */
  border-color: #007bff;
}

/* Bouton Supprimer en dégradé de rouge */
.btn-danger {
  background: linear-gradient(to right, #ff4b2b, #ff416c); /* Dégradé rouge */
  border-color: #ff416c;
}

/* Centrage des boutons */
.text-center {
  display: flex;
  justify-content: center;
  gap: 10px;
}




.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-gradient2 {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#fb1640, #c40f0f);
  transition: background 0.3s ease;
  border: 1px solid #c40f21;
}

.btn-gradient2:hover {
  background: linear-gradient(#ff143f, #da0f19);
  color: white;
}

/* Hauteur des images des articles */
.custom-rounded-top {
  height: 500px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.comment-content {
  color: black;
  font-size: 1rem;
}
