.card-container {
  display: flex;
  gap: 20px;
}

.card {
  background: #fFfFfa;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  flex: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card .btn {
  margin: 5px;
}
