<% if notice %>
  <div class="alert alert-info alert-dismissible fade show m-1" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>



<script>  // SCRIPT POUR MASQUER LES ALERTES APRÈS 5 SECONDES

  document.addEventListener("DOMContentLoaded", function() {
  // Sélectionner toutes les alertes
  const alertMessages = document.querySelectorAll('.alert');

  alertMessages.forEach(function(alert) {
    // Attendre 5 secondes avant de masquer l'alerte
    setTimeout(function() {
      alert.classList.remove("show");
      alert.classList.add("fade");
    }, 5000); // 5000 ms = 5 secondes
  });
});

</script>
