<footer>
  <!-- Conteneur principal du footer -->
  <div class="footer-container">

    <!-- Section des informations légales -->
    <div class="footer-legal">
      <h4>Informations</h4>
      <ul>
        <li><a href="/sitemap">Sitemap</a></li> <!-- Lien vers le sitemap -->
        <li><a href="/contact">contact</a></li> <!-- Lien vers la page de contact -->
        <li><a href="/legal">Mentions légales et politique de confidentialité</a></li> <!-- Lien vers les mentions légales -->
      </ul>
    </div>

    <!-- Section des crédits du site -->
    <div class="footer-credits">
      <p>© 2025 DefBlog.fr Tous droits réservés.</p> <!-- Crédits de l'auteur du site -->
    </div>
  </div>
</footer>


