<div class="container mt-4">
  <h1>Contact</h1>
  <br>
  <p>Pour toute question, veuillez nous écrire à : <a href="mailto:contact@monsite.com">f.pazery@gmail.com</a></p>
</div>

<!-- Style pour la page -->
<style>
  p, ul, li, a {
    color: #000000; /* Couleur du texte pour les paragraphes, listes et liens */
  }

  h1, h2 {
    color: #f39c12; /* Couleur des titres (h1, h2) */
  }
</style>
