<div class="container mt-4">
  <h1>Plan du site</h1>
  <ul>
    <li><a href="/">Accueil</a></li>
    <li><a href="/categories">Catégories</a></li>
    <li><a href="/articles">Articles</a></li>
    <!-- Ajoute d'autres liens ici -->
  </ul>
</div>
